:root {
	--main-bg-color: #05090b;
	--main-brand-bg-color: #e39b41;
	--brand-white-color: #faf7f2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: 'Hind Guntur', sans-serif;
	background-color: var(--main-bg-color);
}

.brand {
	background-color: var(--main-brand-bg-color);
	color: var(--brand-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
em,
p {
	color: var(--brand-white-color);
}
