@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	font-family: 'Hind Guntur', sans-serif;
	@apply bg-black text-white;
}

.brand {
	@apply bg-primary text-white;
}

.btn {
	@apply bg-green-800 hover:bg-blue-500 font-bold rounded py-2 px-4 text-white cursor-pointer;
}

.btn-inverse {
	@apply bg-transparent border-2 border-green-800 font-bold rounded py-2 px-4 text-white transition ease-out duration-200 hover:bg-green-800 cursor-pointer;
}

.btn-close {
	@apply cursor-pointer w-4 h-4 text-white bg-transparent border-0 opacity-50;
}

.form-input {
	@apply w-full py-1 px-1 bg-white border border-r-2 text-black;
}

/* Toggle Btn */

.toggle-checkbox:checked {
	right: 0;
	border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
	background-color: #68d391;
}
